:root {
    --bs-body-color: white;
    --bs-body-bg: black;
  }

a {
    color: grey;
}

.flash {
    width: 50%;
    margin: auto;
    position: fixed;
    top: 100px;
    left: 25%;
    z-index: 1000;
    text-align: center;
}

.post-content img {
    width: 80%;
}

.pola {
    border: 2px solid black; 
    padding: 50px;
    background-color: white;
    width: 100% !important;
}

.post-content img .pola-view {
    width: 100%;
}

.post-content {
    color: white;
}

.post-content a {
    color: lightgrey;
}

aside .widget {
    background-color: lightgrey; 
    border-radius: 15px; 
    padding: 20px;
    margin-bottom: 20px;  
}

.carousel img {
    width: 100%; 
    margin: auto;
    padding: 10px;
    background-color: black;
}