body {
    background-color: black;
}

.post-content img {
    width: 80%;
}

.pola {
    border: 2px solid black; 
    padding: 50px;
    background-color: white;
    width: 100% !important;
}

.post-content img .pola-view {
    width: 100%;
}

.post-content {
    color: white;
}

.post-content a {
    color: lightgrey;
}

.sidebar {
    background-color: lightgrey;    
}

.carousel {
    margin-bottom: 30px;
}

.carousel img {
    width: 300px; 
    margin: auto;
    padding: 20px;
    background-color: white;
}