{% extends 'sbadmin.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>

    {{ include('admin2/category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin2_category_index') }}">back to list</a>

    {{ include('admin2/category/_delete_form.html.twig') }}
{% endblock %}
