{% extends 'clean.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block titleh %}{% endblock %}

{% block body %}
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        
                        <h1>Modification du mot de passe</h1>

                        {{ form(form) }}

                    </div>
                </div>
            </div>
        </article>
{% endblock %}
